* {
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

* img {
  overflow: hidden;
}

.wrapper {
  max-width: 375px;
  margin: 0 auto;
}

.active {
  display: block;
}

header {
  position: relative;
  height: 80vh;
  width: 100vw;
  background-image: url("/images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
}
header h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  color: white;
}
header img.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72px;
}
header .navbar {
  position: relative;
  padding-top: 32px;
  display: block;
  width: 100%;
  margin-right: 0;
}
header .navbar .burger {
  position: absolute;
  right: 32px;
  z-index: 10;
}
header .navbar .logo {
  position: absolute;
  left: 32px;
}

nav {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: none;
  width: 80vw;
  margin: 0 auto;
  z-index: 2;
}
nav .container {
  padding: 1rem 0;
}
nav img {
  display: none;
}
nav li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}
nav li a {
  text-decoration: none;
  color: #818498;
}
nav li:last-child {
  width: 50%;
  margin: 0 auto;
  background: #fad400;
  border-radius: 50px;
}
nav li:last-child a {
  text-transform: uppercase;
  color: #23303e;
}

@media (min-width: 376px) {
  header {
    background-image: url("/images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: 0% 70%;
  }

  .wrapper {
    max-width: 375px;
  }

  nav.mobile,
img.burger {
    display: none;
  }
}