* {
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

nav {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80vw;
  margin: 0 auto;
  z-index: 2;
}
nav .container {
  width: 100%;
}
nav img {
  display: none;
}
nav li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}
nav li a {
  text-decoration: none;
  color: #818498;
}

header {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url("/images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
}
header h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Fraunces", serif;
  color: white;
}
header img.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 72px;
}
header .navbar {
  position: relative;
  padding-top: 32px;
  display: block;
  width: 100%;
  margin-right: 0;
}
header .navbar .burger {
  position: absolute;
  right: 32px;
  z-index: 10;
}
header .navbar .logo {
  position: absolute;
  left: 32px;
}