// layout
$mobile: 375px;
$mobilebreakpoint: 376px;
$desktop: 1440px;
$fontSizeMain: 16px;
$positionValue: 32px;

// colors primary
$primarySoftRed: hsl(7, 99%, 70%);
$primaryYellow: hsl(51, 100%, 49%);
$primaryDarkDesaturated: hsl(167, 40%, 24%);
$primaryDarkblue: hsl(198, 62%, 26%);
$primaryDarkModerateCyan: hsl(168, 34%, 41%);
$primaryWhite: hsl(0, 0%, 100%);

// colors neutral
$neutralDarkDesaturatedblue: hsl(212, 27%, 19%);
$neutralVeryDarkGrayishblue: hsl(213, 9%, 39%);
$neutralDarkGrayishblue: hsl(232, 10%, 55%);
$neutralGrayishblue: hsl(210, 4%, 67%);

// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;

* {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

.wrapper {
    max-width: $mobile;
    margin: 0 auto;
}

// mixins
@mixin absolutePositioner($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

// class to toggle burger menu
.active {
    display: block;
}

header {
    position: relative;
    height: 80vh;
    width: 100vw;
    background-image: url("/images/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;

    .cta {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            letter-spacing: 0.5rem;
            font-size: 36px;
            text-transform: uppercase;
            text-align: center;
            font-family: "Fraunces", serif;
            color: $primaryWhite;
        }

        img.arrow {
            margin-top: 7rem;
            height: 72px;
        }
    }

    .navbar {
        position: relative;
        top: $positionValue;
        width: 100%;
        height: 80px;
        margin-right: 0;

        .burger {
            position: absolute;
            right: $positionValue;
            z-index: 10;
        }

        .logo {
            position: absolute;
            left: $positionValue;
        }
    }
}

ul {
    display: none;
    font-family: "Fraunces", serif;
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primaryWhite;
    height: 14rem;
    width: 80vw;
    margin: 0 auto;
    z-index: 2;

    .container {
        padding: 1rem 0;
    }

    img {
        display: none;
    }

    li {
        list-style: none;
        text-align: center;
        width: 50%;
        margin: 0 auto;

        a {
            text-decoration: none;
            display: block;
            padding: 1rem;
            width: 100%;
            color: $neutralDarkGrayishblue;
        }
    }

    li:last-child {
        a {
            background: $primaryYellow;
            border-radius: 50px;
            text-transform: uppercase;
            color: $neutralDarkDesaturatedblue;
        }
    }
}

@media (min-width: $mobilebreakpoint) {
    .wrapper {
        max-width: $desktop;
    }

    header {
        background-image: url("/images/desktop/image-header.jpg");
        background-position: 0% 50%;
        max-width: $desktop;
        min-height: 85vh;

        .cta {
            @include absolutePositioner(30%);

            h1 {
                display: block;
                width: 50vw;
            }

            img.arrow {
                height: 120px;
                @include absolutePositioner(50%);
                margin-top: 120px;
            }
        }
    }

    img.burger {
        display: none;
    }

    ul {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(0);
        padding-right: 64px;
        text-align: right;
        background-color: transparent;
        height: 14rem;
        width: auto;
        margin: 0 auto;
        z-index: 2;

        .container {
            padding: 1rem 0;
        }

        img {
            display: none;
        }

        li {
            display: inline;
            list-style: none;
            text-align: center;
            width: auto;
            margin: 0 1rem 0 auto;

            a {
                color: $primaryWhite;
                text-decoration: none;
                display: inline;
                padding: 1rem;
                width: auto;
            }
        }

        li:last-child {
            a {
                color: $neutralDarkDesaturatedblue;

                background: $primaryWhite;
                border-radius: 50px;
                text-transform: uppercase;
            }
        }
    }
}
