// layout
$mobile: 375px;
$desktop: 1440px;
$fontSizeMain: 16px;

// colors primary
$primarySoftRed: hsl(7, 99%, 70%);
$primaryYellow: hsl(51, 100%, 49%);
$primaryDarkDesaturated: hsl(167, 40%, 24%);
$primaryDarkblue: hsl(198, 62%, 26%);
$primaryDarkModerateCyan: hsl(168, 34%, 41%);
$primaryWhite: hsl(0, 0%, 100%);

// colors neutral
$neutralDarkDesaturatedblue: hsl(212, 27%, 19%);
$neutralVeryDarkGrayishblue: hsl(213, 9%, 39%);
$neutralDarkGrayishblue: hsl(232, 10%, 55%);
$neutralGrayishblue: hsl(210, 4%, 67%);

// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;

* {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

@mixin absolutePositioner($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav {
    @include absolutePositioner(40%);
    background-color: $primaryWhite;
    width: 80vw;
    margin: 0 auto;
    z-index: 2;
    .container{
     width:   100%;
    }
    img {
        display: none;
    }
    li {
        list-style: none;
        text-align: center;
        padding: 1rem;
        a {
            text-decoration: none;
            color: $neutralDarkGrayishblue;
        }
    }
}

header {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url("/images/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;
    h1 {
        @include absolutePositioner(30%);
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Fraunces", serif;
        color: $primaryWhite;
    }
    img.arrow {
        @include absolutePositioner(50%);
        height: 72px;
    }
    .navbar {
        $positionValue: 32px;

        position: relative;
        padding-top: $positionValue;
        display: block;
        width: 100%;
        margin-right: 0;
        .burger {
            position: absolute;
            right: $positionValue;
            z-index: 10;
        }
        .logo {
            position: absolute;
            left: $positionValue;
        }
    }
}
