@use './variables.scss'as v;

.keypoints > * {
    min-height: 60vh;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

.about {
    text-align: center;
}

.contentBox {
    padding: 2rem 0;
    position: relative;

    h2 {
        font-family: "Fraunces", serif;
        font-size: 2rem;
        padding: 1rem;
    }

    p {
        padding: 1rem 1rem;
        color: v.$neutralVeryDarkGrayishblue;
    }

    .button {
        position: relative;
        z-index: 1;
        button {
            display: block;
            position: relative;
            background: transparent;
            border: none;
            box-sizing: content-box;
            color: black;
            display: block;
            font-family: "Fraunces", serif;
            font-weight: 900;
            margin: 0 auto;
            text-transform: uppercase;
            width: 8rem;
            cursor: pointer;

            &::before {
                position: absolute;
                bottom: 0;
                content: "";
                display: block;
                width: 100%;
                height: 6px;
                background: v.$primarySoftRed;
                z-index: -1;
                border-radius: v.$borderRadius;
                opacity: 0.8;
            }
        }
        .yellow {
            &::before {
                background: v.$primaryYellow;
                opacity: 0.8;
            }
        }
    }
}

.additionalPoints {
    min-height: 25rem;
    position: relative;
    background-size: cover;

    div {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;

        h3 {
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
    }
}

.cherry {
    background-image: url("../images/mobile/image-graphic-design.jpg");
    color: v.$primaryDarkDesaturated;
}
.orange {
    background-image: url("../images/mobile/image-photography.jpg");
    color: v.$primaryDarkblue;
}

@media (min-width: v.$mobile+1px) {
    .keypoints .reversed {
        img {
            grid-area: transformIMG;
        }
        .contentBox {
            grid-area: transform;
        }
    }

    .keypoints {
        img {
            grid-area: standoutIMG;
        }
        .contentBox {
            grid-area: standout;
        }
    }

    .cherry {
        grid-area: graphicDesign;
    }

    .orange {
        grid-area: photography;
    }

    .about {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "transform transformIMG"
            " standoutIMG standout"
            "graphicDesign photography";
    }
}
