@use './variables.scss'as v;

img {
    max-width: 100%;
}

.about {
    text-align: center;
}

.contentBox {
    padding: 2rem 0;
    position: relative;

    h2 {
        font-family: "Fraunces", serif;
        font-size: 2rem;
        padding: 1rem;
    }

    p {
        padding: 1rem 1rem;
        color: v.$neutralVeryDarkGrayishblue;
    }

    button {
        position: relative;
        background: transparent;
        border: none;
        box-sizing: content-box;
        color: black;
        display: block;
        font-family: "Fraunces", serif;
        font-weight: 900;
        margin: 0 auto;
        text-transform: uppercase;
        width: 8rem;
    }
}

.additionalPoints {
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.cherry {
    background-image: url("../images/mobile/image-graphic-design.jpg");
}
.orange {
    background-image: url("../images/mobile/image-photography.jpg");
}
