@use 'variables'as v;


#contact {
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  min-height: 50vh;
  text-align: center;
  color: v.$neutralGrayishblue;

  .map-container{
    max-width: 100%;
    iframe{
      max-width: 100%;
    }
  }
  h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: v.$primaryDarkblue
  }


  a {
    text-decoration: underline;
    color: v.$primaryDarkDesaturated;
  }

  .info-container {
    width: 100%;
    margin: 0;
    text-align: center;
    align-self: center;


    .contact-details {
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: v.$mobile+1px) {
#contact{
  flex-direction: row;
  .map-container{
    iframe{
      max-width: none;
    }
  }
}


}
