@use 'variables'as v;


#contact {
  padding: 2rem;
  display: flex;
  min-height: 50vh;
text-align: center;
  color: v.$neutralGrayishblue;

  h3{
    font-size: 1.5rem;
    color: v.$primaryDarkblue
  }

  .info-container {
    width: 100%;
    margin: 0;
    text-align: center;
    align-self: center;


    .contact-details{
      margin-bottom: 2rem;
    }


  }
}
