@use './variables.scss' as v;

footer {
    background-color: v.$primaryDarkModerateCyan;
    height: 200px;
    width: 100%;

    .footerNav {
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;

        ul {
            margin-top: 24px;
            li {
                display: inline;
                padding: 0 20px;
                transition: 0.2s;
                a {
                    color: v.$primaryDarkDesaturated;
                }

                &:hover {
                    a {
                        color: v.$primaryWhite;
                    }
                }
            }
        }
    }

    .socialBar {
        margin-top: 16px;
        text-align: center;
        a {
            padding: 0 8px;
        }
    }
}
