@use './variables.scss'as v;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: v.$mobile;
}

a {
    text-decoration: none;
}

header,section{
    min-height: 100vh;
}

@media (min-width: v.$mobile+1px) {
    .wrapper {
        max-width: v.$desktop;
    }
}
