@use './variables.scss'as v;
@use './mixins.scss' as *;

.images {
    @include gridTemplate(repeat(2, 1fr), repeat(2, 1fr), "milk orangePlate" "iceCream sugarCubes");
    min-height: 460px;

    .milk {
        @include imgBackground(milk, "../images/mobile/image-gallery-milkbottles.jpg");
    }

    .orangePlate {
        @include imgBackground(orangePlate, "../images/mobile/image-gallery-orange.jpg");
    }

    .iceCream {
        @include imgBackground(iceCream, "../images/mobile/image-gallery-cone.jpg");
    }

    .sugarCubes {
        @include imgBackground(sugarCubes, "../images/mobile/image-gallery-sugar-cubes.jpg");
    }
}

@media (min-width: v.$mobile+1px) {
    .images {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "milk orangePlate iceCream sugarCubes";
    }

    .milk {
        background: url("../images/desktop/image-gallery-milkbottles.jpg");
    }

    .orangePlate {
        background: url("../images/desktop/image-gallery-orange.jpg");
    }

    .iceCream {
        background: url("../images/desktop/image-gallery-cone.jpg");
    }

    .sugarCubes {
        background: url("../images/mobile/image-gallery-sugar-cubes.jpg");
    }
}
