@use './variables.scss'as v;

// header section
@mixin absolutePositioner($topValue) {
  left: 50%;
  position: absolute;
  top: $topValue;
  transform: translate(-50%, -50%);
}

@mixin hoverA {
  transition: 0.2s;
  &:hover {
    color: v.$primaryWhite;
    background: v.$neutralDarkGrayishblue;
  }
}

// grid container
@mixin gridTemplate($gridRow, $gridColumn, $templateArea) {
  display: grid;
  grid-template-rows: $gridRow;
  grid-template-columns: $gridColumn;
  grid-template-areas: $templateArea;
}

@mixin imgBackground($gridArea, $url) {
  grid-area: $gridArea;
  background-size: cover;
  background: url($url) center;
}

@mixin centeredGridItem {
  align-self: center;
  justify-self: center;
}