@use './variables.scss'as v;

.testimonialcontainer {
    margin-top: 1.5rem;
    padding: 1.5rem 2rem;
    text-align: center;

    h4 {
        color: v.$neutralDarkGrayishblue;
        font-family: "Fraunces", serif;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .quote {
        color: v.$neutralVeryDarkGrayishblue;
    }

    .author {
        margin: 1rem auto 0.5rem auto;
        font-size: 1.2rem;
    }

    .position {
        color: v.$neutralGrayishblue;
    }
    img {
        border-radius: 50%;
        margin: 2rem auto;
    }
}

@media (min-width: v.$mobile+1px) {
    .testimonialcontainer {
        column-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4rem minmax(120px, auto);
        padding: 3rem 4rem;
        text-align: center;

        h4 {
            align-self: center;
            color: v.$neutralDarkGrayishblue;
            font-family: "Fraunces", serif;
            font-size: 1.5rem;
            grid-column: 1 / 4;
            letter-spacing: 8px;
            text-transform: uppercase;
        }

        .quote {
            color: v.$neutralVeryDarkGrayishblue;
            margin: 2rem auto;
        }

        .author {
            margin: 1rem auto 0.5rem auto;
        }

        .position {
            color: v.$neutralGrayishblue;
        }
        img {
            height: 5rem;
        }
    }
}
