@use 'variables'as v;

section#testimonials {
  min-height: 100vh;
  position: relative;
  //padding-top: 2rem;
  flex-direction: column;

  h4 {
    color: v.$neutralDarkGrayishblue;
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    //left: 0;
    letter-spacing: 4px;
    padding: 1rem 0;
    //position: absolute;
    //right: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .testimonial-container {
    left: 50%;
    padding: 0 2rem;

    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    .testimonial-box {
      display: flex;
      padding-top: 2rem;
      width: 80%;
      margin: 0 auto;
    }

    .arrow {
      cursor: pointer;
      height: 70px;
      margin: 0;
      position: absolute;
    }

    .right-arrow {
      right: 0;
      top: 50%;
    }

    .left-arrow {
      left: 0;
      top: 50%;
      transform: rotate(180deg);
    }

    .testimonial {
      display: none;
      font-size: 18px;
      min-height: 70vh;
      padding: 0 2rem;
    }

    .active {
      display: block;
    }

    .quote {
      color: v.$neutralVeryDarkGrayishblue;

    }

    .author {
      font-size: 1.2rem;
      padding-top: 1rem;
    }

    .position {
      color: v.$neutralGrayishblue;
    }

    img {
      border-radius: 50%;
      //padding: 2rem auto;
    }
  }

}


@media (min-width: v.$mobile+1px) {

  section#testimonials {

    h4 {
      color: v.$neutralDarkGrayishblue;
      font-family: "Fraunces", serif;
      font-size: 2.5rem;
      letter-spacing: 8px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

    }
  }
  .testimonial-container {
    padding: 3rem 4rem;
    text-align: center;


    .quote {
      color: v.$neutralVeryDarkGrayishblue;
      font-size: 1.5rem;
      //margin: 2rem auto;
    }

    .author {
      //margin: 1rem auto 0.5rem auto;
    }

    .position {
      color: v.$neutralGrayishblue;
    }

    img {
      height: 9rem;
    }
  }
}
