@use 'variables'as v;

section#testimonials {
  display: flex;
  min-height: 100vh;
  padding: 1.5rem 0;


  .testimonial-container {

    display: grid;
    grid-template-areas:
    "title title title"
    "left-arrow testimonial right-arrow";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr  9fr;
    text-align: center;
    width: 100%;

  }

  h4 {
    color: v.$neutralDarkGrayishblue;
    font-family: "Fraunces", serif;
    font-size: 2rem;
    grid-area: title;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }


  .testimonial-box {
    align-self: center;
    grid-area: testimonial;
    justify-self: center;
    margin: 0 auto;
    padding: 1rem;
  }

  .arrow {
    align-self: center;
    cursor: pointer;
    height: 70px;
    justify-self: center;
    margin: 0;
  }

  .right-arrow {
    grid-area: right-arrow;
  }

  .left-arrow {
    grid-area: left-arrow;
    transform: rotate(180deg);
  }

  .testimonial {
    display: none;
    font-size: 18px;
    padding: 1rem;
  }

  .active {
    display: block;
  }

  .quote {
    color: v.$neutralVeryDarkGrayishblue;
    padding-top: 2rem;
  }

  .author {
    font-size: 1.2rem;
    padding-top: 2rem;
  }

  .position {
    color: v.$neutralGrayishblue;
  }

  img {
    align-self: center;
    border-radius: 50%;
    justify-self: center;
  }
}


@media (min-width: v.$mobile+1px) {

  section#testimonials {
    padding: 2rem 0;

    h4 {
      font-size: 2.5rem;
      letter-spacing: 8px;
    }
  }

  .testimonial-container {

    .quote {
      font-size: 1.5rem;
    }

    img {
      height: 9rem;
    }
  }
}
