// layout
$mobile: 768px;
$mobilebreakpoint: 376px;
$desktop: 1440px;
$fontSizeMain: 16px;
$positionValue: 32px;
$borderRadius: 50px;

// colors primary
$primarySoftRed: hsl(7, 99%, 70%);
$primaryYellow: hsl(51, 100%, 49%);
$primaryDarkDesaturated: hsl(167, 40%, 24%);
$primaryDarkblue: hsl(198, 62%, 26%);
$primaryDarkModerateCyan: hsl(168, 34%, 41%);
$primaryWhite: hsl(0, 0%, 100%);

// colors neutral
$neutralDarkDesaturatedblue: hsl(212, 27%, 19%);
$neutralVeryDarkGrayishblue: hsl(213, 9%, 39%);
$neutralDarkGrayishblue: hsl(232, 10%, 55%);
$neutralGrayishblue: hsl(210, 4%, 67%);

// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;
